<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">
            Inserir Novo Compromisso
          </h1>
        <hr />
      </div>

      <form [formGroup]="formCompromisso" class="mt-4">
        <div class="form-group mb-3 position-relative">
          <label class="form-label">Assunto:</label>
          <input
            [ngClass]="assunto?.touched && assunto?.invalid ? 'is-invalid' : ''"
            formControlName="assunto"
            class="form-control"
            type="text"
            placeholder="Digite o assunto do compromisso"
          />
          <div class="invalid-tooltip" *ngIf="assunto?.touched && assunto?.invalid">
            <span *ngIf="assunto?.errors?.['required']">O assunto precisa ser preenchido.</span>
            <span *ngIf="assunto?.errors?.['minlength']">O assunto deve ter no mínimo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Tipo do local:</label>
          <ng-select
            [ngClass]="tipoLocal?.touched && tipoLocal?.invalid ? 'is-invalid' : ''"
            formControlName="tipoLocal" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let local of tipoLocais; index as i" [value]="i" >
                {{local}}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="tipoLocal?.touched && tipoLocal?.invalid">
            <span *ngIf="tipoLocal?.errors?.['required']">o tipo do local precisa ser preenchida.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label" >Local:</label>
          <input
            [ngClass]="local?.touched && local?.invalid ? 'is-invalid' : ''"
            (click) = "DisabilitarOuHabilitarLinkELocal()"
            formControlName="local"
            class="form-control"
            [attr.disabled]="tipoLocal?.value == 0 ? '' : null"
            type="text"
            placeholder="Digite o local do compromisso"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Data:</label>
          <input
            [ngClass]="data?.touched && data?.invalid ? 'is-invalid' : ''"
            formControlName="data"
            class="form-control"
            type="date"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Hora de inicio:</label>
          <input
            [ngClass]="horaInicio?.touched && horaInicio?.invalid ? 'is-invalid' : ''"
            formControlName="horaInicio"
            class="form-control"
            type="time"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Hora de termino:</label>
          <input
            [ngClass]="horaTermino?.touched && horaTermino?.invalid ? 'is-invalid' : ''"
            formControlName="horaTermino"
            class="form-control"
            type="time"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Link:</label>
          <input
            [ngClass]="link?.touched && link?.invalid ? 'is-invalid' : ''"
            formControlName="link"
            class="form-control"
            [attr.disabled]="tipoLocal?.value == 1 ? '' : null"
            type="text"
            placeholder="Digite o link do compromisso"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="contatoId" class="form-label">Contato</label>
            <ng-select formControlName="contatoId" [searchable]="false">
              <ng-option *ngFor="let contato of (contatos$ |async)" [value]="contato.id">
                {{contato.nome}}
              </ng-option>
            </ng-select>
          </div>


        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button (click)="gravar()"
            type="button" class="btn btn-primary px-5">
            <i class="pi pi-save me-2"></i>
            Gravar
          </button>
          <button routerLink="/compromissos/listar"
            type="button" class="btn btn-outline-primary px-5">
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
